.project-card {
  background-color: #ffffff;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  width: 20%;
  margin-right: 20px;
  margin-bottom: 36px;
  box-shadow: 0px 4px 4px 4px #e6e9ec;
}

.project-image {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.project-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
}
